div {
  width: 100px;
  height: 100px;
  background-color: #124559;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
}
#middle {
  background-color: #00afb9;
}
#static #middle {
  position: static;
  top: 20px;
}
#relative #middle {
  position: relative;
  top: 40px;
}
#absolute {
  position: relative;
}
#absolute #middle {
  position: absolute;
  top: 40px;
  left: 8px;
}

#fixed #middle {
  position: fixed;
  top: 0px;
  left: 0px;
}

.circle {
  width: 300px;
  height: 300px;
  background-color: #003566;
  transition: background-color 3s 1s, border-radius 2s 2s;
}
.circle:hover {
  background-color: #ffb3c1;
  border-radius: 50%;
}
article {
  font-size: 50px;
}
button {
  font-size: 1em;
  padding: 0 0.5em;
  border-radius: 0.5em;
  margin: 1em;
}
